{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container mt-4">
  <div  class="row d-flex justify-content-center align-items-center mt-5" >
    <div style="text-align: center;" class="col">
      <img style="width: 250px; height: 250px; border-radius: 130px;" src="{% static 'patint.jpg' %}" alt="patient">
      <h5  class="m-4">{{user.username}}</h5>
    </div>
    <div class="col">
      <p >Name -{{user.first_name}} {{user.last_name}}</p>
      <p >Email - {{user.email}}</p>
      <p >Phone - {{data.mobile_no}}</p>
      <p > Age - {{data.age}}</p>
      <p >Gender - {{data.gender}}</p>
      <p ><a href="{% url 'patient_prescription' data.id %}"> Prescription</a></p>
    </div>
    
  </div>
</div>
 
<div class="mt-5">
  <hr>
</div>
<div  class="">
    <table style="padding-left: 130px; padding-right: 30px;" class="table">
        <thead>
          <tr>
            <th scope="col">Dr Name</th>
            <th scope="col">Appointment Status</th>
            <th scope="col">Appointment Type</th>
            <th scope="col">Symptop</th>
            <th scope="col">Time</th>
            <th scope="col">Meet Link</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
            {% for i in appointment %}
            <tr>
                <th scope="row">{{i.doctor}}</th>
                <td>{{i.appointment_status}}</td>
                <td>{{i.appointment_type}}</td>
                <td>{{i.symptop}}</td>
                <td> {% for j in i.doctor.available_time.all %}
                  <p>{{j}} </p>
                  {% endfor %}</td>
  
                {% if i.appointment_status == 'Running' and i.appointment_type == 'Online' %}
                <td><a target="_blank" href="{{i.doctor.meet_link}}">{{i.doctor.meet_link}}</a></td>
                 {% else %}                 
                <td>Not Ready</td>
                {% endif %}
                <td><a href="{% url 'review' i.doctor.id %}">Comment</a></td>
              </tr>
    
            {% endfor %}
          
        </tbody>
      </table>
</div>
{% endblock content %}