{% extends "base.html" %}

{% block content %}

<h1 class="text-center text-info">This is Contact page</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Phone</h4>
            <p><a href="tel:+88o1981251861">+8801981251861</a></p>
        </div>
        <div class="col">
            <h4>Email</h4>
            <p><a href="mailto:hmnizum1714032@gmail.com">hmnizum1714032@gmail.com</a></p>
        </div>
        <div class="col">
            <h4>Location</h4>
            <p><a target="_blank" href="http://maps.google.com/maps?q=kushtia">Kushtia</a></p>
        </div>
        <div class="col">
            <h4>Time</h4>
        </div>
    </div>
</div>
{% endblock content %}


